

<div class="body-div container-fluid">
    <h1 id="contact-header" class="main-title">Contact</h1>
    <form id="{{formName}}-form" name="{{formName}}-form">
        <div id="msg">
            <!-- This is a blank area for us to talk to the use -->
        </div>
        {{#formInputs}}
        <div class="form-group">
            <!--<label class="input-label" for="{{name}}">{{holder}}</label>-->
            <input type="text" id="{{name}}" class="form-control form-inputs" name="{{name}}" placeholder="{{holder}}: " maxlength="64"><br> 
        </div>
        {{/formInputs}}
        <textarea id="{{textarea}}" class="form-control form-inputs" name="{{textarea}}" rows="6" cols="40" maxlength="1000" placeholder="Message:"></textarea><br>
        <button type="button" id="send-btn" class="btn btn-primary">Submit</button>
        <button type="button" id="clear-btn" class="btn btn-primary clear-btn">Clear</button>
    </form>
</div>